<!-- crtl + spacja -->
<!-- .container>.row>.col -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    routerLink="/">Music App</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/music">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/playlist">Playlist</a>
          </li>
      </ul>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>
        Welcome to {{ title }}!
      </h1>
      <router-outlet></router-outlet>

    </div>


  </div>
</div>